Alexis de Almeida Coutinho <alexis.almeida98@usp.br> Alexis de Almeida Coutinho <alexis.almeida98@yahoo.com.br>

Anne Lemière <alemiere@MacBook-Pro-de-Anne.local> Anne Lemière <alemiere@apcdhcp62.in2p3.fr>
Anne Lemière <alemiere@MacBook-Pro-de-Anne.local> Anne Lemière <alemiere@eduroam-prg-bw-1-26-17.net.univ-paris-diderot.fr>

Atreyee Sinha <atreyee.sinha@umontpellier.fr> Atreyee SINHA <asinha@sinfos-MacBook-Pro.local>
Atreyee Sinha <atreyee.sinha@umontpellier.fr> Atreyee Sinha <32677370+AtreyeeS@users.noreply.github.com>
Atreyee Sinha <atreyee.sinha@umontpellier.fr> Atreyee Sinha <atreyee.sinha@apc.in2p3.fr>
Atreyee Sinha <atreyee.sinha@umontpellier.fr> Atreyee Sinha <atreyee.sinha@gmail.com>
Atreyee Sinha <atreyee.sinha@umontpellier.fr> AtreyeeS <atreyee.sinha@gmail.com>

Axel Donath <axel.donath@mpi-hd.mpg.de> Axel Donath <adonath@mpi-hd.mpg.de>
Axel Donath <axel.donath@mpi-hd.mpg.de> Axel Donath <adonath@users.noreply.github.com>
Axel Donath <axel.donath@mpi-hd.mpg.de> Axel Donath <donath@stud.uni-heidelberg.de>
Axel Donath <axel.donath@mpi-hd.mpg.de> adonath <adonath@users.noreply.github.com>
Axel Donath <axel.donath@mpi-hd.mpg.de> adonath <axel.donath@mpi-hd.mpg.de>
Axel Donath <axel.donath@mpi-hd.mpg.de> adonath <donath@stud.uni-heidelberg.de>
Axel Donath <axel.donath@mpi-hd.mpg.de> axel <axel.donath@mpi-hd.mpg.de>

Brigitta Sipőcz <b.sipocz@gmail.com> Brigitta Sipocz <b.sipocz@gmail.com>
Brigitta Sipőcz <b.sipocz@gmail.com> Brigitta Sipocz <bsipocz@gmail.com>

Bruno Khelifi <khelifi@in2p3.fr> Bruno Khelifi <khelifi@khelifi@apc.in2p3.fr>
Bruno Khelifi <khelifi@in2p3.fr> khelifi <khelifi@in2p3.fr>

Cosimo Nigro <cosimonigro2@gmail.com> cosimoNigro <cosimonigro2@gmail.com>

Jose Enrique Ruiz <jer@iaa.es> Bultako <jer@iaa.es>


David Fidalgo <dfidalgo@gae.ucm.es> David Fidalgo <davidc.fidalgo@gmail.com>

Dirk Lennarz <dirk.lennarz@pa.msu.edu> Dirk Lennarz <dev-intel14-phi.i>
Dirk Lennarz <dirk.lennarz@pa.msu.edu> Dirk Lennarz <dirk.lennarz@gatech.edu>
Dirk Lennarz <dirk.lennarz@pa.msu.edu> Dirk Lennarz <dirk.lennarz@pa.msu.edu>
Dirk Lennarz <dirk.lennarz@pa.msu.edu> Dirk Lennarz <dirk.lennarz@web.de>

Erik M. Bray <embray@stsci.edu> Erik Bray <erik.m.bray@gmail.com>

Johannes King <johannes.king@mpi-hd.mpg.de> Johannes King <johannes.king@sqlnet.ai>
Johannes King <johannes.king@mpi-hd.mpg.de> kingj90 <johannes.king@mpi-hd.mpg.de>
Johannes King <johannes.king@mpi-hd.mpg.de> kingj90 <kingj90@users.noreply.github.com>

Jonathan D. Harris <jonharris24@gmail.com> JonathanDHarris <jonharris24@gmail.com>


Julien Lefaucheur <julien.lefaucheur@obspm.fr> hijlk <julien.lefaucheur@obspm.fr>
Julien Lefaucheur <julien.lefaucheur@obspm.fr> Julien Lefaucheur <jjlk@users.noreply.github.com>
Julien Lefaucheur <julien.lefaucheur@obspm.fr> hijlk <julien.lefaucheur@obspm.fr>
Julien Lefaucheur <julien.lefaucheur@obspm.fr> jlk <julien.lefaucheur@obspm.fr>

Kai Brügge <kai.bruegge@tu-dortmund.de> Kai B <kai.bruegge@tu-dortmund.de>
Kai Brügge <kai.bruegge@tu-dortmund.de> Kai Bruegge <kai.bruegge@tu-dortmund.de>

Lars Mohrmann <lars.mohrmann@fau.de> Lars <lars.mohrmann@fau.de>

Léa Jouvin <lea.jouvin@apc.in2p3.fr> Lea Jouvin <lea.jouvin@gmail.com>
Léa Jouvin <lea.jouvin@apc.in2p3.fr> Jouvin <lea.jouvin@apc.in2p3.fr>
Léa Jouvin <lea.jouvin@apc.in2p3.fr> JouvinLea <lea.jouvin@apc.in2p3.fr>

Matthew Craig <mattwcraig@gmail.com> Matt Craig <mattwcraig@gmail.com>

Matthias Wegen <matthias.wegen@desy.de> Matthias Wegen <wegenmat@nomos107.ifh.de>
Matthias Wegen <matthias.wegen@desy.de> Matthias Wegen <wegenmat@wgs00.ifh.de>

Quentin Remy <quentin.remy@live.fr> QRemy <quentin.remy@live.fr>

Régis Terrier <rterrier@apc.in2p3.fr> Régis Terrier <regis.terrier@m4x.org>
Régis Terrier <rterrier@apc.in2p3.fr> Régis Terrier <terrier@hegcpc.(none)>
Régis Terrier <rterrier@apc.in2p3.fr> Terrier <rterrier@apc.in2p3.fr>

Thomas Armstrong <thomas.armstrong@physics.ox.ac.uk> Thomas Armstrong <armstrongt@asosxlap142.nat.physics.ox.ac.uk>
Thomas Armstrong <thomas.armstrong@physics.ox.ac.uk> thomasarmstrong <thomas.armstrong@physics.ox.ac.uk>


Thomas Vuillaume <thomas.vuillaume@lapp.in2p3.fr> Vuillaume <thomas.vuillaume@lapp.in2p3.fr>

Ellis Owen <ellis.owen@mpi-hd.mpg.de> eowen <ellis.owen@mpi-hd.mpg.de>
Ellis Owen <ellis.owen@mpi-hd.mpg.de> ellisowen <ellis.owen@mpi-hd.mpg.de>

Roberta Zanin <Roberta.Zanin@mpi-hd.mpg.de> robertazanin <Roberta.Zanin@mpi-hd.mpg.de>
Roberta Zanin <Roberta.Zanin@mpi-hd.mpg.de> robertazanin <robertazanin@gmail.com>
