repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      args: ["--ignore-words", "dev/codespell/ignore-words.txt", "--skip", "./.git"]
      additional_dependencies:
        - tomli

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        name: ruff linting
        args: ["--config=pyproject.toml", "--fix", "--show-fixes"]
      - id : ruff-format
        name: ruff formatting
        args: ["--config=pyproject.toml"]
