# Conda environment for Gammapy development
#
# Install:    conda env create -f environment-dev.yml
# Update:     conda env update -f environment-dev.yml
# Activate:   conda activate gammapy-dev
# Deactivate: conda deactivate

name: gammapy-dev

channels:
  - conda-forge
  - sherpa

dependencies:
  - python==3.7
  - pip
  - ipython
  - jupyter
  - jupyterlab
  - cython
  - numpy
  - pandas
  - astropy
  - regions
  - click
  - pyyaml
  - scipy
  - matplotlib
  - healpy
  - reproject
  - sherpa
  - iminuit
  # dev dependencies
  - pytest
  - pytest-cov
  - pytest-xdist
  - pytest-astropy
  - sphinx
  - pandoc
  - pylint
  - flake8
  - black
  - isort
  - setuptools_scm
  - sphinx-astropy
  - sphinx_rtd_theme
  - nbsphinx
  - sphinx-click
  - pydocstyle
  - naima
  - numdifftools
  - twine
  - parfive
  - jsonschema
  - yamllint
  - pydantic
