# Conda environment for Gammapy development
#
# Install:    conda env create -f environment-dev.yml
# Update:     conda env update -f environment-dev.yml
# Activate:   conda activate gammapy-dev
# Deactivate: conda deactivate

name: gammapy-dev

channels:
  - conda-forge
  - https://cxc.cfa.harvard.edu/conda/sherpa # c.f. https://sherpa.readthedocs.io/en/latest/install.html

variables:
  PYTHONNOUSERSITE: "1"

dependencies:
  # core dependencies
  - python=3.11
  - pip
  - astropy
  - click>8.0
  - cython
  - numpy>1.20
  - pydantic>=2.5
  - pyyaml
  - regions>=0.5
  - matplotlib>=3.4
  - scipy!=1.10
  - iminuit>=2.8.0
  - extension-helpers
  # test dependencies
  - codecov
  - pytest
  - pytest-astropy
  - pytest-cov
  - pytest-xdist
  - coverage
  - requests
  - tqdm
  # extra dependencies
  - healpy
  - ipython
  - jupyter
  - jupyterlab
  - naima
  - pandas
  - reproject
  - ultranest
  # dev dependencies
  - black=22.6.0
  - codespell
  - flake8
  - isort
  - jinja2
  - jupytext
  - nbsphinx
  - numdifftools
  - pandoc
  - pydocstyle
  - pylint
  - setuptools_scm
  - sherpa>=4.17
  - sphinx
  - sphinx-click
  - sphinx-gallery
  - sphinx-design
  - sphinx-copybutton
  - tox
  - pydata-sphinx-theme
  - pre-commit
  - twine
  - yamllint
  - nbformat
  - h5py
  - ruamel.yaml
  # incompatible with current jupyter, results in broken env when present
  # use e.g. pipx if you need cffconvert
  # - cffconvert
  - pyinstrument
  - memray
  - pip:
      - pytest-sphinx
      - ray[default]>=2.9
      - PyGithub
      - pypandoc
