# Conda environment for Gammapy development
#
# Install:    conda env create -f environment-dev.yml
# Update:     conda env update -f environment-dev.yml
# Activate:   conda activate gammapy-dev
# Deactivate: conda deactivate

name: gammapy-dev

channels:
  - conda-forge
  - sherpa

dependencies:
  # core dependencies
  - python==3.7
  - pip
  - astropy
  - click
  - cython
  - numpy
  - pydantic
  - pyyaml
  - regions
  - matplotlib>=3.4,<3.5
  - scipy
  # test dependencies
  - codecov
  - pytest
  - pytest-astropy
  - pytest-cov
  - pytest-xdist
  - requests
  - tqdm
  # extra dependencies
  - healpy
  - ipython
  - jupyter
  - jupyterlab
  - naima
  - pandas
  - reproject
  - sherpa
  - iminuit>=2.8.0
  # dev dependencies
  - black
  - codespell
  - flake8
  - isort
  - nbsphinx
  - numdifftools
  - pandoc
  - pydocstyle
  - pylint
  - setuptools_scm
  - sphinx==2.4.4
  - sphinx-astropy
  - sphinx-click
  - sphinx-gallery
  - sphinx_rtd_theme
  - twine
  - yamllint
  - nbformat==5.0.8
  - docutils==0.16
  - h5py==2.10.0
  - ruamel.yaml
  - pip:
      - pytest-sphinx

