# Conda environment for Gammapy development
#
# Install:    conda env create -f environment-dev.yml
# Update:     conda env update -f environment-dev.yml
# Activate:   conda activate gammapy-dev
# Deactivate: conda deactivate

name: gammapy-dev

channels:
  - conda-forge
  - sherpa

variables:
  PYTHONNOUSERSITE: "1"

dependencies:
  # core dependencies
  - python=3.8
  - pip
  - astropy
  - click
  - cython
  - numpy
  - pydantic
  - pyyaml
  - regions>=0.5
  - matplotlib>=3.4
  - scipy
  - iminuit>=2.8.0
  # test dependencies
  - codecov
  - pytest=6
  - pytest-astropy
  - pytest-cov
  - pytest-xdist
  - coverage=6.2
  - pytest-xdist
  - requests
  - tqdm
  # extra dependencies
  - healpy
  - ipython
  - jupyter
  - jupyterlab
  - naima
  - pandas
  - reproject
  - sherpa
  # dev dependencies
  - black
  - codespell
  - flake8
  - isort
  - jinja2=3.0
  - nbsphinx
  - numdifftools
  - pandoc
  - pydocstyle
  - pylint
  - setuptools_scm
  - sphinx
  - sphinx-astropy
  - sphinx-click
  - sphinx-gallery
  - sphinx-panels
  - sphinx-copybutton
  - pydata-sphinx-theme==0.8.1
  - twine
  - yamllint
  - nbformat
  - h5py
  - ruamel.yaml
  - pip:
      - pytest-sphinx
