include README.rst

include distribute_setup.py
recursive-include tevpy *.pyx *.c

recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *
recursive-include examples *

exclude *.pyc *.o 
prune docs/_build
prune build
