include README.rst
include LONG_DESCRIPTION.rst
include CHANGES.rst
include environment-dev.yml

include setup.cfg
include pyproject.toml

recursive-include gammapy *.pyx *.pxd *.c *.h
recursive-include docs *
recursive-include licenses *
recursive-include examples *
recursive-include dev *

prune build
prune docs/_build
prune docs/api
prune docs/notebooks
prune docs/_static/notebooks

global-exclude *.pyc *.o
