include README.rst
include LONG_DESCRIPTION.rst
include environment-dev.yml
include setup.cfg
include LICENSE.rst
include pyproject.toml

recursive-include gammapy *.pyx *.c
recursive-include docs *
recursive-include examples *
recursive-include dev *
