[build-system]
requires = [
    "setuptools >= 65",
    "Cython",
    "numpy >= 2.0.0rc1",
    "setuptools_scm[toml] >= 8",
]
build-backend = "setuptools.build_meta"

#[tool.black]
#line-length = 88
#target-version = ["py38", "py39", "py310", "py311", "py312"]
#include = '\\.pyi?$'
#exclude = '''
#/(
#    \\.eggs
#  | \\.git
#  | \\.hg
#  | \\.mypy_cache
#  | \\.tox
#  | \\.venv
#  | _build
#  | buck-out
#  | build
#  | gammapy/extern
#)/
#'''

[tool.pytest.ini_options]
filterwarnings = [
    "error::astropy.utils.exceptions.AstropyDeprecationWarning",
    "error::gammapy.utils.deprecation.GammapyDeprecationWarning",
    "error::matplotlib.MatplotlibDeprecationWarning",
]

[tool.setuptools_scm]
version_file = "gammapy/version.py"
version_file_template = """
# Note that we need to fall back to the hard-coded version if either
# setuptools_scm can't be imported or setuptools_scm can't determine the
# version, so we catch the generic 'Exception'.
try:
    from setuptools_scm import get_version
    version = get_version(root='..', relative_to=__file__)
except Exception:
    version = '{version}'
"""

[tool.ruff]
include = ["pyproject.toml", "gammapy"]
line-length = 100


[tool.ruff.lint]
ignore = ["E741"]
extend-ignore = ["E203","E712"]

[tool.ruff.lint.per-file-ignores]
"examples/*" = ["E402"]