{% extends "base.html" %}

{% block page_content %}

<h1>Gammapy data browser</h1>

<div class="alert alert-warning" role="alert">
    The Gammapy data browser is a <a href="http://flask.pocoo.org/">Flask</a> web app written by an astronomer, not an
    expert.<br>
    It's not secure to run this on a public network, it's probably easy to hack!<br>
    By default it only run it on <b>localhost</b>, which is fine.
</div>

<h3>TODO</h3>

<ul>
    <li>Implement OBS_ID selection should work</li>
    <li>Implement IRF info / plotting</li>
    <li>Fix PSF containment fraction plotting</li>
    <li>On the events page, add histograms and counts images</li>
    <li>Add Gammapy favicon to base.html and docs/_static/gammapy_banner.png to about page (where to install in site-packages? how to get setup.py to install it?</li>
    <li>Currently some CSS / JS files (datatables, bootswatch) aren't bundled, i.e. the user needs an internet
        connection for the app to works. Should we bundle them in the Gammapy repo?
    </li>
    <li>Currently we re-load pages all the time, which reloads JS files ... the data browser is slow. Design as a single-page app?</li>
    <li>Add pages to compare event lists / IRFs from different chains / versions</li>
    <li>Rendering the observation list table with 15k rows is slow (3 MB of html). Maybe set this up as an ajax source for datatables?</li>
    <li>Add getting started instructions</li>
    <li>Add keybord navigation</li>
</ul>


<h3>Usage</h3>

<p>
    Using the browser should be simple ... just use the controls in navigation bar at the top.
</p>

<p>
    The Gammapy browser is implemented via a restful API, i.e. all pages are accessed via GET requests with these URLs:
</p>

<table class="table table-striped">
    <tr>
        <td>URL</td>
        <td>Content</td>
    </tr>
    <tr>
        <td>/</td>
        <td>About page</td>
    </tr>
    <tr>
        <td>/obs/obs_id</td>
        <td>Basic observation info</td>
    </tr>
    <tr>
        <td>/events/obs_id</td>
        <td>Event info</td>
    </tr>
    <tr>
        <td>/irfs/obs_id</td>
        <td>IRF info</td>
    </tr>
</table>


{% endblock %}
