{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Gammapy Data Browser
{% endblock %}

{% block navbar %}
<div id="mynavbar" class="container">
    {{nav.top.render()}}
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}

    <footer class="text-muted">
        <hr>
        <p>The Gammapy data browser. See TODO for help.</p>
        <a href="#mynavbar">Back to top</a>
    </footer>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="http://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
{% endblock %}