{% extends "base.html" %}

{% block page_content %}

<h1>Events</h1>

<h2>Header info</h2>
<ul>
    <li>OBS_ID: {{ obs.OBS_ID }}</li>
    <li>RA: {{ '{:.3f}'.format(obs.RA) }} deg</li>
    <li>DEC: {{ '{:.3f}'.format(obs.DEC) }} deg</li>
</ul>

<h2>Event list summary stats</h2>

<ul>
    <li>Observation duration: {{ events.observation_time_duration }}</li>
    <li>Dead-time fraction: {{ '{:.2f} %'.format(100 * events.observation_dead_time_fraction) }}</li>
    <li>Number of events: {{ events.__len__() }}</li>
    <li>Mean event energy: {{ '{:.2f}'.format(events.energy.mean()) }}</li>
    <li>Mean event azimuth: {{ '{:.2f}'.format(events.AZ.mean()) }} deg</li>
    <li>Mean event zenith: {{ '{:.2f}'.format(90 - events.ALT.mean()) }} deg</li>
</ul>

<h2>Event list table stats</h2>

<pre>
    {{ events.info('stats', out=None) }}
</pre>

<h2>Event list table attributes</h2>

<pre>
    {{ events.info('attributes', out=None) }}
</pre>

<h2>Event list table</h2>

<table id="event_data_table" class="table table-striped table-hover">
{{ event_data_table | safe }}
</table>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
        $('#event_data_table').DataTable();
    });
</script>
{% endblock %}
