{% extends "base.html" %}

{% block page_content %}

<!--<form method="POST">-->
<!--{{ wtf.quick_form(form) }}-->
<!--</form>-->

<form class="form-horizontal" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="obs_id" class="col-sm-1 control-label">OBS_ID</label>
        <div class="col-sm-2">
            <input class="form-control" id="obs_id" list="observations" placeholder="{{ 99 }}"/>
            <datalist id="observations">
                {% for obs_id in obs_id_choices %}
                    <option value="{{ obs_id }}">
                {% endfor %}
            </datalist>

        </div>
    </div>
</form>

<br>


<!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span>-->

<br>


<ul>
    <li>Session OBS_ID: {{ obs_id }}</li>
    <li>Form OBS_ID: {{ form.obs_id }}</li>
</ul>


{% if result != None %}
<h3>Your selection: {{ form.data.obs_id }}</h3>
{% else %}
Nothing selected.
<!--<p>-->
    <!--<img src="{{ url_for('view_image', image_type='aeff', obs_id=form.data.obs_id) }}" alt="Image Placeholder"-->
         <!--height="400">-->
<!--</p>-->

{% endif %}

{% endblock %}
