{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Gammapy Catalog Browser
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="http://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand">Gammapy Catalog Browser</a>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
                <li><a href="#">Catalog</a></li>
                <li><a href="#">Image</a></li>
                <li><a href="#">Source</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <form action="/" method="post">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.catalog_name.label }} {{ form.catalog_name(class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.source_name.label }} {{ form.source_name(class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.info_display.label }} {{ form.info_display(class='form-control') }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    {% block main %}{% endblock %}
</div>

{% endblock %}
