{% extends "base.html" %}

{% block main %}

<h1>Info on {{ session.get('source_name') }}</h1>

<h2>Table data</h2>

<table id="data-table">
    <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
</table>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#data-table').DataTable({
            "ajax": "{{ url_for('catalog_browser.view_api_data', catalog_name=session.get('catalog_name'), source_id=session.get('source_id')) }}",
            "paging": false,
            "ordering": false,
        });
    });
</script>

<h2>Spectrum</h2>

<img src="{{ url_for('catalog_browser.view_api_image', image_type='test', catalog_name=session.get('catalog_name'), source_id=session.get('source_id')) }}" alt="Image Placeholder" height="400">


<h2>Light curve</h2>

<img src="{{ url_for('catalog_browser.view_api_image', image_type='lightcurve', catalog_name=session.get('catalog_name'), source_id=session.get('source_id')) }}" alt="Image Placeholder" height="400">

{% endblock %}
