numpy
Cython
scipy>=0.14
scikit-image
-e git+http://github.com/astropy/astropy.git#egg=astropy
-e git+http://github.com/astropy/imageutils.git#egg=imageutils
-e git+http://github.com/astrofrog/reproject.git#egg=reproject
-e git+http://github.com/zblz/gammafit.git#egg=gammafit
-e git+http://github.com/astrofrog/wcsaxes.git#egg=wcsaxes
-e git+http://github.com/aplpy/aplpy.git#egg=aplpy
