Cython
numpy
astropy
scipy
scikit-image
-e git+http://github.com/astropy/regions.git#egg=regions
-e git+http://github.com/astrofrog/reproject.git#egg=reproject

# https://github.com/zblz/naima/issues/88
#-e git+http://github.com/zblz/naima.git#egg=naima

-e git+http://github.com/astrofrog/wcsaxes.git#egg=wcsaxes
-e git+http://github.com/aplpy/aplpy.git#egg=aplpy
# -e git+http://github.com/spacetelescope/gwcs.git#egg=gwcs
