/* Define the gammapy colors */
:root {
  --gammapy-primary: rgb(224, 10, 52);
  --gammapy-secondary: #1e254a;
  --gammapy-lightgray: #f2f2f2;
}

/* Set theme of the download button */
.sphx-glr-download a {
background-color: #d9edf7 !important;
border: 1px solid #bce8f1 !important;
background-image: none !important;
}

.sphx-glr-download a:hover {
background-color: #d9edf7 !important;
}

/* main index page overview cards */
.intro-card {
  border-radius: 0;
  padding: 30px 10px 20px 10px;
  margin: 10px 0px;
}

/* Change the size of images on the main index page*/
.intro-card .sd-card-img-top {
  height: 52px;
  width: 52px;
  margin-left: auto;
  margin-right: auto;
}

/* Typography */
body,
p {
  color: var(--gammapy-secondary);
  font-family: "Fira Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  --sd-color-secondary: var(--gammapy-secondary);
  --sd-color-secondary-highlight: #666;
  --pst-color-secondary: var(--gammapy-secondary);
}

/* Dark Theme */
[data-theme="dark"] {
    --gammapy-secondary: #ffffff;
    --sd-color-secondary: var(--gammapy-secondary);
    --sd-color-secondary-highlight: var(--gammapy-lightgray);
    --pst-color-secondary: var(--gammapy-secondary);
    color: var(--gammapy-lightgray);
}
[data-theme="dark"] body,
[data-theme="dark"] p {
    color: var(--gammapy-secondary);
}
[data-theme="dark"] .sd-card img[src*='.svg'] {
  filter: invert(0.9) sepia(0.3) saturate(5) hue-rotate(180deg) brightness(0.8) contrast(1.2);
}
[data-theme="dark"] .logo img {
    display: none;
}
[data-theme="dark"] .logo {
    background-image: url("gammapy_logo_nav.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 50px;
}

