
@import url("bootstrap-astropy.css");

div.topbar ul li a.homelink {
  width: auto;
  display: block;
  height: 20px;
  padding: 20px 25px 5px 10px;
  background: transparent url("astropy_linkout_20.png") no-repeat 10px 10px;
  background-position: 85px 5px;
}