#------------------------------------------------------------ 
# SExtractor configuration parameters
#
# Notes:
#
# - Some parameters should be adjusted before running SExtractor:
#   CATALOG_NAME, PARAMETERS_NAME, CHECKIMAGE_NAME
#   DETECT_MINAREA, DETECT_THRESH, DEBLEND_MINCONT
#
#   You can easily set them on the command line
#   $ sex image.fits -c basic.cfg -catalog_name mycat.fits ...
#
#------------------------------------------------------------ 
 
#-------------------------------- Catalog ------------------------------------
 
CATALOG_NAME     sex_catalog.fits # name of the output catalog
CATALOG_TYPE     FITS_1.0       # NONE,ASCII,ASCII_HEAD, ASCII_SKYCAT,
                                # ASCII_VOTABLE, FITS_1.0 or FITS_LDAC
PARAMETERS_NAME  basic.param # name of the file containing catalog contents
 
#------------------------------- Extraction ----------------------------------
 
FILTER           N              # apply filter for detection (Y or N)?

DETECT_MINAREA   1 # minimum number of pixels above threshold
DETECT_THRESH    5 # <sigmas> or <threshold>,<ZP> in mag.arcsec-2
THRESH_TYPE      ABSOLUTE       # threshold type: RELATIVE (in sigmas)
                                # or ABSOLUTE (in ADUs)
DEBLEND_NTHRESH  32             # Number of deblending sub-thresholds
DEBLEND_MINCONT  1 # Minimum contrast parameter for deblending

CLEAN            N              # Clean spurious detections? (Y or N)?
 
MASK_TYPE        CORRECT        # type of detection MASKing: can be one of
                                # NONE, BLANK or CORRECT
 
#------------------------------ Photometry -----------------------------------
 
PHOT_APERTURES   5              # MAG_APER aperture diameter(s) in pixels
PHOT_AUTOPARAMS  2.5, 3.5       # MAG_AUTO parameters: <Kron_fact>,<min_radius>
 
PIXEL_SCALE      0              # size of pixel in arcsec (0=use FITS WCS info)
 
#------------------------------ Background -----------------------------------

BACK_TYPE        MANUAL         # AUTO or MANUAL
 
#------------------------------ Check Image ----------------------------------
 
CHECKIMAGE_TYPE  SEGMENTATION   # can be NONE, BACKGROUND, BACKGROUND_RMS,
                                # MINIBACKGROUND, MINIBACK_RMS, -BACKGROUND,
                                # FILTERED, OBJECTS, -OBJECTS, SEGMENTATION,
                                # or APERTURES
CHECKIMAGE_NAME sex_segments.fits # Filename for the check-image
 
#----------------------------- Miscellaneous ---------------------------------
 
VERBOSE_TYPE     FULL           # can be QUIET, NORMAL or FULL
