name: CI
on: [push, pull_request]

jobs:
  lint:
    name: Run pre-commit hooks
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install pre-commit
        run: pip install pre-commit
      - name: Run pre-commit
        run: pre-commit run

  ci-runs:
    name: ${{ matrix.os }}, ${{ matrix.tox_env }}
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.allowed_fail }}
    if: contains(github.event.pull_request.labels.*.name, 'skip-tests') == false
    env:
      PYTEST_ADDOPTS: --color=yes -n auto --dist=loadscope

    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu-latest
            python: '3.11'
            tox_env: 'py311-test-alldeps_noray'
            gammapy_data: true
            allowed_fail: false
          - os: ubuntu-latest
            python: '3.10'
            tox_env: 'py310-test-alldeps-cov'
            gammapy_data: true
            allowed_fail: false
          - os: macos-latest
            python: '3.13'
            tox_env: 'py313-test'
            gammapy_data: true
            allowed_fail: false
          - os: macos-14
            python: '3.11'
            tox_env: 'py311-test'
            allowed_fail: false
          - os: windows-latest
            python: '3.12'
            tox_env: 'py312-test-alldeps_noray'
            gammapy_data: true
            allowed_fail: false
          - os: ubuntu-latest
            python: '3.12'
            tox_env: 'py312-test-alldeps_noray'
            gammapy_data: true
            allowed_fail: false
          - os: ubuntu-latest
            python: '3.10'
            tox_env: 'py310-test'
            allowed_fail: false
          - os: ubuntu-latest
            python: '3.13'
            tox_env: 'py313-test'
            allowed_fail: false
          - os: ubuntu-latest
            python: '3.10'
            tox_env: 'py310-test-alldeps_noray-astropy60-numpy126'
            allowed_fail: false
          - os: ubuntu-latest
            python: '3.10'
            tox_env: 'oldestdeps'
            allowed_fail: false
          - os: ubuntu-latest
            python: '3.12'
            tox_env: 'devdeps'
            allowed_fail: true

    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install base dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox
      - name: download datasets
        if: ${{ matrix.gammapy_data }}
        run: |
          python -m pip install tqdm requests
          python -m pip install -e .
          gammapy download datasets --release 2.0
      - name: Print Python, pip, and tox versions
        run: |
          python -c "import sys; print(f'Python {sys.version}')"
          python -c "import pip; print(f'pip {pip.__version__}')"
          python -c "import tox; print(f'tox {tox.__version__}')"
      - name: Run tests
        if: ${{ !matrix.gammapy_data }}
        run: tox -e ${{ matrix.tox_env }} -- -n auto
      - name: Run tests with data
        if: ${{ matrix.gammapy_data }}
        env:
          GAMMAPY_DATA: ${{ github.workspace }}/gammapy-datasets/2.0
        run: tox -e ${{ matrix.tox_env }} -- -n auto
      - name: Upload coverage to codecov
        if: "contains(matrix.tox_env, '-cov')"
        uses: codecov/codecov-action@v5
        with:
          file: ./coverage.xml
          verbose: true

      - name: Store info for sonar
        env:
          REF_NAME: ${{ github.ref_name }}
          REF_TYPE: ${{ github.ref_type }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
          SOURCE_REPOSITORY: ${{ github.event.pull_request.head.repo.full_name }}
          SOURCE_BRANCH: ${{ github.event.pull_request.head.ref }}
          TARGET_BRANCH: ${{ github.event.pull_request.base.ref }}
        run: |
          pip install setuptools_scm
          echo "PR_NUMBER=${PR_NUMBER}" >> sonar_env
          echo "SOURCE_REPOSITORY=${SOURCE_REPOSITORY}" >> sonar_env
          echo "SOURCE_BRANCH=${SOURCE_BRANCH}" >> sonar_env
          echo "TARGET_BRANCH=${TARGET_BRANCH}" >> sonar_env
          echo "PROJECT_VERSION=$(python -m setuptools_scm)" >> sonar_env
          cat sonar_env

      # upload coverage report for SonarQube workflow
      - uses: actions/upload-artifact@v5
        if: "contains(matrix.tox_env, '-cov')"
        with:
          name: gammapy-coverage-report
          path: |
            coverage.xml
            sonar_env

  sphinx:
    name: Linux python 3.11 sphinx all-deps
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    env:
      PYTEST_ADDOPTS: --color=yes -n auto --dist=loadscope
      GAMMAPY_DATA: /home/runner/work/gammapy/gammapy/gammapy-datasets/2.0

    if: contains(github.event.pull_request.labels.*.name, 'skip-docs') == false

    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install base dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox
      - name: download datasets
        run: |
          python -m pip install tqdm requests
          python -m pip install -e .
          gammapy download datasets --release 2.0
      - name: test build docs
        run: |
          tox -e build_docs
      - name: Upload HTML output
        uses: actions/upload-artifact@v5
        with:
          name: gammapy-doc-html
          path: docs/_build/html/
