name: Doctests

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * 5'  # Every Friday at 02:00 UTC

jobs:
  doctests:
    name: Run doctests in .rst files
    runs-on: ubuntu-latest
    if: github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[docs,test]

      - name: Run doctests
        run: pytest --doctest-glob="*.rst" docs/ --ignore=docs/development/pigs/
